{% extends "CATALOG/base.html"%} 
{% block title %} Add New Class {% endblock title %} 

{% block content %} {% load static %}
<link href="{% static '/CSS/register.css' %}" rel="stylesheet">

<div class="container">
    <br>
    <h1>New Class</h1>

    <form id="register-form" class="form-inline" action="#" method="post">
        <br> {% csrf_token %} 
        {% for field in form %} 
            {{ field.errors }}
            <div class="mb-3 row">
                {{field.label_tag}}
                <div class="col-sm-13">
                {{field}}
                </div>
            </div>
        {% endfor%}
        <input id="new-class-submit" name="new-class-submit" class="submit-data" type="submit" value="Submit">
    </form>
</div>
<br>
<br> 
{% endblock content %}